{
  "client": {
    "name": "{{ ansible_hostname }}",
    "address": "{{ ansible_default_ipv4.address }}",
    "environment": "{{ environment_name }}",
    "subscriptions": [{% for sub in subscriptions_ref[ansible_hostname] -%}{% if loop.last %}
      "{{ sub }}"{% else %}
      "{{ sub }}",{% endif %}
{%- endfor %}
    ],
    "socket": {
      "bind": "127.0.0.1",
      "port": 3030
    }
  }
}
