{
  "rabbitmq": {
  	"ssl": {
      "cert_chain_file": "{{ rabbitmq_ssl_cert_path }}",
      "private_key_file": "{{ rabbitmq_ssl_key_path }}"
    },
    "host": "{{ rabbitmq_host }}",
    "port": {{ rabbitmq_port }},
    "vhost": "{{ rabbitmq_vhost }}",
    "user": "{{ rabbitmq_user }}",
    "password": "{{ rabbitmq_password }}"
  }
}